{
	"presets": ["next/babel"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"@src": "./src",
					"@styles": "./src/styles"
				},
				"extensions": [".js", ".jsx", ".tsx"]
			}
		]
	]
}
