{
	"presets": ["next/babel"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"@src": "./src",
					"@styles": "./src/styles",
					"@components": "./src/components",
					"@utils": "./src/utils",
					"@core": "./src/core"
				},
				"extensions": [".js", ".jsx", ".tsx"]
			}
		]
	]
}
