$base-color: #ffcc71;
$sub-color: #00b1d2;
$font-black: #444444;
$font-black-solid: #000000;
$font-white: #ffffff;
$font-link: #00b1d2;
$payment: #6772e5;
$black: #444444;
$border: #dddddd;

$breakpoint-desktop: 768px;
$breakpoint-laptop: 1400px;
$highlight: rgba(255, 217, 81, 0.6);
$content-max-width: 1200px;
$gap-between-home-items: 15px;
