.cnt {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  &.active {
    visibility: visible;
    opacity: 1;
    transition: opacity ease 0.25s;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.con {
  position: relative;
  z-index: 998;
  max-width: 40rem;
  min-width: 25rem;
  min-height: 25rem;
  width: 33%;
  padding: 1.25rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translateY(-80px);
  transition: transform ease 0.3s 0.1s;
  & .contents {
    padding: 1.25rem 0;
  }
}

.cnt.active .con {
  transform: translateY(0px);
}

.logo_image {
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.title {
  margin: 0;
  padding: 0 0 1.25rem;
  text-align: center;
  font-size: 1.5rem;
}
