.container {
	width: 100%;
	height: 100%;
	overflow-y: hidden;
}

.profile {
	position: fixed;
	z-index: 2;
	top: 2.5em;
	left: 12px;
	right: 12px;
	height: 70px;
	margin: 0 auto;
	max-width: 500px;
}

.currentchatroom {
	position: fixed;
	z-index: 3;
	bottom: 0;
	/* top: 50px; */
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 600px;
	max-height: 100%;
	box-shadow: 0 3px 10px 3px gray;
}

.map {
	width: 100%;
	height: 100%;
	z-index: 1;
}

.bottombar {
	position: fixed;
	z-index: 2;
	bottom: 0;
	left: 0;
	right: 0;
	height: 25%;
	margin: 0 auto;
	max-width: 500px;
}

.createChatroom {
	position: fixed;
	z-index: 4;
}

.signin {
	position: fixed;
	z-index: 4;
}

.signup {
	position: fixed;
	z-index: 4;
}

.detailProfile {
	position: fixed;
	z-index: 7;
	top: 20%;
	left: 5%;
	right: 5%;
	height: 20%;
	margin: 0 auto;
	max-width: 500px;
}
