@tailwind base;
@tailwind components;
@tailwind utilities;

html * {
  color: #000;
  font-size: 16px;
  box-sizing: border-box;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

*,
*:before,
*:after {
  color: inherit;
  box-sizing: inherit;
}

// /* smartphones, touchscreens */
// @media (hover: none) and (pointer: coarse) {
//   ...
// }
// /* stylus-based screens */
// @media (hover: none) and (pointer: fine) {
//   ...
// }
// /* Nintendo Wii controller, Microsoft Kinect */
// @media (hover: hover) and (pointer: coarse) {
//   ...
// }
// /* mouse, touch pad */
// @media (hover: hover) and (pointer: fine) {
//   ...
// }
